
#red {
   border-top-color: #f00;
   background-color: #f00;           

   display: inline-block;
   min-width: 20em; 
   min-height: 25em; 
   border-radius: 50%; 
   border-left-color: transparent; 
   border-right-color: transparent; 
   border-bottom-color: transparent; 
 }
  #orange{
  border-top-color: #ffa500;  
  background-color: #ffa500;
                  
   display: inline-block;
   min-width: 18em; 
   min-height: 28em; 
   border-radius: 50%; 
   border-left-color: transparent; 
   border-right-color: transparent; 
   border-bottom-color: transparent; 
 }
#yellow{
  border-top-color: #ff0;  
  background-color: #ff0;
                  
   display: inline-block;
   min-width: 16em; 
   min-height: 31em; 
   border-radius: 50%; 
   border-left-color: transparent; 
   border-right-color: transparent; 
   border-bottom-color: transparent; 
 }
#green{
  border-top-color: #00bc3f;
  background-color: #00bc3f;
 
   display: inline-block;
   min-width: 14em; 
   min-height: 34em; 
   border-radius: 50%; 
   border-left-color: transparent; 
   border-right-color: transparent; 
   border-bottom-color: transparent;

 }
#blue{
  border-top-color: #06f;
  background-color: #06f;
  
   display: inline-block;
   min-width: 12em; 
   min-height: 37em; 
   border-radius: 50%; 
   border-left-color: transparent; 
   border-right-color: transparent; 
   border-bottom-color: transparent;

 }
#indigo{
  border-top-color: #8a2be2;
  background-color: #8a2be2;
  
   display: inline-block;
   min-width: 10em; 
   min-height: 40em; 
   border-radius: 50%; 
   border-left-color: transparent; 
   border-right-c olor: transparent; 
   border-bottom-color: transparent;
   
 }
#violet{
  border-top-color: #d300c9;
  background-color: #d300c9;
   
   display: inline-block;
   min-width: 8em; 
   min-height: 43em; 
   border-radius: 50%; 
   border-left-color: transparent; 
   border-right-color: transparent; 
   border-bottom-color: transparent;
   
 }
